.main-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.favorite{

}

svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;  
}
