.tracking-progress-bar {
    margin: 10px 0
}


.tracking-progress-bar__item {
    background: #E5E7ED;
    border-radius: 50%;
    color: #768CAD; 
    display: inline-block; 
    font-family: sans-serif; 
    font-size: 17px;
    height: 30px; 
    line-height: 30px; 
    position: relative; 
    text-align: center; 
    width: 31px; 
    z-index: 9
}


.tracking-progress-bar__item__bar {
    background: #E5E7ED; 
    display: inline-block; 
    margin: 0 -5px;
    height: 12px;
    width: 180px;
    z-index: 2
}


.tracking-progress-bar__item__bar--active {
    background: #093782;
}


.tracking-progress-bar__item--first {
    margin-left: 80px;
}


.tracking-progress-bar__item--active {
    background: #093782;
    color: #fff
}
th {
    background-color: gainsboro !important;
    color: black !important;
} 
